@charset "utf-8";
/* CSS Document For Experiences Layout*/

/********* Experience Landing page *********/
.sec-block .container.request {min-height:500px;}

.sec-block.exp {background-color:#EEE;}
.sec-block.exp .heading {padding:4px 0;margin:0 0 10px;text-align:left;}
.sec-block.exp .heading .btn {
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 2px;
    padding: 7px 15px;
    text-transform: uppercase;
}
.sec-block.exp hr {border-bottom:1px solid #fafafa;border-top:1px solid #dedede;}

.sec-exp-info {width:65%;padding-right:30px;}
.sec-exp-booking {width:35%;}

.sec-exp-info .about {
    color: #555;
    float: left;
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 15px;
    text-align: justify;
    width: 100%;
}
.sec-exp-info .exp-gallery li {width:33.3333%;padding:10px;}
.sec-exp-info .exp-gallery li > section {height:141px;cursor:pointer;}
.sec-exp-info .exp-gallery li .title {font-size:16px;}
.sec-exp-info .exp-gallery li .btn {float: none;margin: 10px 0 0;}

.sec-exp-info .exp-avail {list-style:none;margin:0;}
.sec-exp-info .exp-avail li {display:inline-block;width:auto;padding:0 15px 5px 0;float:left;width:50%;text-align:left;font-size:13px;}
.sec-exp-info .exp-avail li strong {
    display: inline-block;
    float: none;
	font-size:14px;
    font-weight: 600;
    min-width:1px;
    text-align: left;
    width: auto;
}
		
.sec-exp-info p,
.sec-exp-booking p {font-size:14px;font-weight:400;}
.sec-exp-booking h2 {font-weight:700;padding:4px 0;margin:0;text-align:center;}

.sec-block table td {border-top:none;font-size:14px;font-weight:400;text-align: justify;}
.sec-block table td strong {text-align:right;float:left;width:100%;min-width:150px;}

.sec-exp-booking .table.cost td {font-size:18px;padding:0 0 15px;}
.sec-exp-booking .table.cost td select {font-size:18px;font-weight:400;margin:0;width:171px;}
.sec-exp-booking .table.cost td strong {
    font-size: 22px;
    font-weight: 400;
    min-width: 10px;
}
.sec-exp-booking .note {
    color: #cccccc;
    display: inline-block;
    float: none;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 5px;
    text-align: left;
    width: auto;
}

.sec-exp-booking .booking-option {margin:0;}
.sec-exp-booking .booking-option > li {padding:0;border-top:none;}
.sec-exp-booking .booking-option.loc-pick > li {width:100%;}
.sec-exp-booking .booking-option.loc-pick select,
.sec-exp-booking .booking-option.loc-pick input[type="text"] {font-size:85%;}

.sec-exp-booking .booking-option > li .icon {
    height: 22px;
    left: 10px;
    margin-top: -11px;
	opacity:.7;
    width: 22px;
}
.sec-exp-booking .booking-option select,
.sec-exp-booking .booking-option > li input[type="text"],
.sec-exp-booking .booking-option h6 {
    color:#000;
	font-size: 20px;
	font-weight: 700;
    height: 45px;
    padding: 5px 10px 5px 40px;
	cursor:pointer;
	background-position: 98% center;
	text-indent: 0;
}

.sec-exp-booking .booking-option.going {margin:0 0 15px;}
.sec-exp-booking .booking-option.going > li {width:100%;cursor:default; border-bottom:1px solid #dedede;}
.sec-exp-booking .booking-option.going > li + li {border-left:none;}
.sec-exp-booking .booking-option.going select,
.sec-exp-booking .booking-option.going h6 {
    background-image: none;
    border-radius: 0;
    border-right: 1px solid #dedede;
	color:#000;
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    width: 55px;
}
.sec-exp-booking .booking-option h6 {padding: 12px 10px 12px 40px;font-weight:400;}
.sec-exp-booking .booking-option.going h6 {font-weight:400;display: inline-block;padding: 12px 10px;}
.sec-exp-booking .booking-option.loc-pick h6 {font-size:85%;height:auto;}

.sec-exp-booking .booking-option.going strong {
    float: right;
    font-size: 19px;
    font-weight: 600;
    padding: 11px 15px;
}
.sec-exp-booking .booking-option.going .age {
    font-size:16px;
    font-weight:400;
    padding:0 0 0 10px;
}
.sec-exp-booking .total-price small {font-size: 16px;}
.sec-exp-booking .total-price {
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 20px;
    padding: 0 15px;
}

.sec-exp-booking .btn-lg {font-size:22px;width:100%;}
.sec-exp-booking .muted {margin:15px 0 0;}

/***** Membership Discount ********/
.sec-exp-booking .discount h5 {color: #555;font-size: 19px;font-weight: 600;}
.sec-exp-booking .discount h5 strong {color: green;font-size: 121%;font-weight: 700;opacity: 0.7;}
.sec-exp-booking .discount p {color:#999;margin:0 0 15px;text-align:justify;}
.sec-exp-booking .discount a {font-size:18px;font-weight:400;}

.sec-exp-booking .discount-table td {font-size:14px;padding:0 0 10px;}
.sec-exp-booking .discount-table td strong {font-weight:400;}
.sec-exp-booking .discount-table .discount-total {border-top:1px solid #dedede;padding:10px 0 20px;}
.sec-exp-booking .discount-table .discount-total strong {font-size:121%;font-weight:700;}
/***** Membership Discount END ********/

.ui-widget-content {
    border: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
    border-radius: 12px;
    overflow: hidden;
}
.ui-datepicker {padding:0;}
.ui-datepicker th {font-weight:700;padding-top:5px;}
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {padding:0;border:1px solid #FFF;}
.ui-datepicker td span, .ui-datepicker td a {font-size:17px;font-weight:400;padding:0.3em;}
/********* Experience Landing page *********/


/************************************/
/*** Customize Experience TAB ******/
/**********************************/
.tab-pane .progress {border-radius:12px 12px 0 0;font-weight:400;}
#trash {min-height:212px;padding:15px 7.5px 0;background-color:#e4e4e4;overflow:visible;position:relative;border-radius: 0 0 12px 12px;}
#trash.dropbox-highlight {border-color:#ccc;}
#trash .dropbgtext {
    color: #333;
    float: left;
    font-size: 500%;
    font-weight: 600;
	left:0;
    margin: 0;
    opacity: 0.03;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
}

/*** Customize Experience Gallery ******/
.gallery.well-box-in {background-color:#e4e4e4;padding:15px 7.5px 0;}
.exp-gallery {
	padding:0;
    list-style: none outside none;
    margin:0;
	min-height:212px;
	float:left;
	width:100%;
	text-align: left;
	position:relative;
}
.exp-gallery li {
    float: left;
    height: auto;
    margin: 0;
    padding: 0 7.5px 15px;
	text-align:center;
    width: 25%;
	z-index:5;
}
.exp-gallery li > section {
    background-attachment: scroll;
    background-color:#FFF;
    background-position:top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    box-shadow: 0 1px 4px -1px #555;
    border-radius: 12px;
	cursor: all-scroll;
    float: left;
    height: 171px;
    margin:0;
	overflow:hidden;
    padding: 0;
	position:relative;
    width: 100%;
    z-index: 2;
}

.exp-gallery li .title {
	background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.85)); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.85)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.85)); /*Fx 3.6-15*/
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.85)); /*Standard*/
    bottom: 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 30px 10px 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.exp-gallery li .btn {
	float:right;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 13% 5px 0;
    text-transform: capitalize;
}
.exp-gallery li .btn.btn-green,
.exp-gallery li .btn.btn-red {float:left;margin-left:13%;margin-right:0;}
/*** Customize Experience Gallery END ******/

/****************************************/
/*** Customize Experience TAB END ******/
/**************************************/


/***** Experience Details Modal *******/
.exp-detail-modal {
    background-color: rgba(0, 0, 0, 0.4);
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
    display: none;
	left:0;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.exp-detail-modal .container {width:650px;padding:30px;z-index:99999;}
.edm-inner {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.35);
    float: left;
	overflow:hidden;
    padding: 0;
    width: 100%;
}
.edm-header {
    background-color: #f5f5f5;
    display: block;
    float: left;
    margin: 0;
    padding: 10px 15px;
    position: relative;
    text-align: center;
    width: 100%;
}
.edm-header h3 {
    color: #555;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    padding: 0 30px 0 0;
	text-align: left;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    width: 100%;
}
.edm-header .close {position:absolute;right:15px;top:10px;z-index:9999999;}
.edm-header .btn {font-size:17px;font-weight:600;min-width:100px;}

.edm-inner .banner {min-height: 252px;padding: 0;}
.edm-inner .banner-footer {background:none;padding:0;}
.edm-inner .banner-footer .play-btn {font-size: 88px;}
.edm-inner .banner-footer .play-btn .fa {opacity: 0.70;}
.edm-inner .banner-footer .play-btn .fa:hover {opacity: 1;}

.edm-inner .info-bar {border-bottom:1px solid #dedede;margin:0;padding:10px 15px 5px;}
.edm-inner .info-bar li {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    padding: 0 0 5px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}
.edm-inner .info-bar .time {width:20%;line-height:20px;}
.edm-inner .info-bar .loc {width:50%;line-height:20px;}
.edm-inner .info-bar .price {width:30%;line-height:20px;}

.edm-inner .info-bar li strong {font-size:120%;}
.edm-inner .info-bar li small {color: #999;font-size: 80%;font-weight: inherit;margin: 0;}
.edm-inner .info-bar li .fa-suitcase {margin-left:55px;}
.edm-inner .info-bar li + li {margin-left: 0;}
.edm-info {
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 15px;
    max-height: 282px;
    overflow: auto;
    padding: 15px;
    text-align: justify;
    width: 100%;
}
.edm-info .about {color: #555;font-size:15px;margin: 0 0 10px;}
.edm-info table td strong {float:left;min-width:145px;text-align:right;width:100%;}
.edm-info table td {border:none;font-size:14px;font-weight:400;text-align:justify;vertical-align:top;}
.edm-info table td ul {list-style:none;margin:0;}
.edm-info table td li {margin-bottom:10px;}

.edm-info.sec-exp-booking {max-height:none; padding:15px 0;}
.edm-info .menu-title {
    border-bottom: 1px solid #dedede;
    font-weight: 700;
    margin: 0 0 15px;
    padding: 5px 15px;
}
.edm-info .controls h4 {
    color: #555;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 5px;
}
/***** Experience Details Modal *******/


/***** Itinerary & Account page *******/
.sec-block.exp .food-menu-list .dish-img {padding: 5px 0;width: 131px;}
.sec-block.exp .food-menu-list h4 {font-size: 20px;}
.sec-block.exp .food-menu-list .dish-img h4 {font-size: 16px;}
.sec-block.exp .food-menu-list .dish-img p {
    font-size: 20px;
    font-weight: 300;
    margin: 11px 0 0;
    min-width: 1px;
    padding: 0;
}

.sec-block.exp .food-menu-list .food-menu-text {
    min-height: 80px;
    padding: 15px 10px 15px 161px;
    width: 100%;
}
.sec-block.exp .food-menu-list li p {
    color: #333;
    font-size: 14px;
    margin: 15px 0 0;
    opacity: 1;
    display: inline-block;
    font-weight: 400;
    line-height: normal;
    min-width: 191px;
    padding-right: 10px;
    width: auto;
}
	
/***** Itinerary & Account page *******/
